<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="estilo.css">
    <title>Aprimorando Conhecimentos - Responsividade</title>
</head>
<body>
    <header>
        <div id="centralHeader">
        <div class="container">
            <div class="row head">
                <div class="col-sm-6">
                    <h1>Obrigado por viajar com a gente!</h1>
                    <h2>Parabéns, agora você é  membro <span>Platina do Rewards.</span></h2>
                </div>
                <div class="col-sm-3">
                    <img src="imgs/imgHeader.png" id="imgHeader" class="img-responsive imgArt" alt="Logo do Platina Rewards">
                </div>
            </div>
        </div>
    </div>
    </header>
    <section>
        <hr class="LinhaTopo">
        <div id="centralSection">
            <p class="pRoxo topo">Parabéns, agora você é membro Platina do Rewards.</p><br>
            <div class="row">
                <div class="col-sm-2">
                    <p class="p1 center">TOTAL</p>
                </div>
                <div class="col-sm-10">
                    <p class="p1 dir">R$29,73</p>
                    <p class="dir">>> você ganhou <b>29 pontos</b> com essa viagem</p>
                </div>
            </div>
            <hr class="LinhaConteudo">
            <table>
                <tr>
                    <td>Preço da viagem</td>
                    <td class="dir">R$27,48</td>
                </tr>
            </table>
            <hr class="LinhaConteudo">
            <table>
                <tr>
                    <td>Preço da viagem</td>
                    <td class="dir"> R$27,48</td>
                </tr>
                
                <tr>
                    <td>Subtotal</td>
                    <td class="dir">R$27,48</td>
                </tr>
                <tr>
                    <td>Custo fixo</td>
                    <td class="dir">R$0,75</td>
                </tr>
                <tr>
                    <td>Regulação Municipal</td>
                    <td class="dir">R$1,44</td>
                </tr>
                <tr>
                    <td>Pedágios, cobranças extras e taxas</td>
                    <td class="dir">R$0,06</td>
                </tr>
            </table>
            <hr class="LinhaConteudo">
            <div id="Rewards">
                <div class="row rewardsConteudo">
                    <button class="btn btn-warning rp"><b>Rewards</b> Platina</button><br><br>
                    <div class="col-sm-3">
                        <div id="circulo">
                            <p class="circ">29</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <p class="p2 esq">Pontos básicos:</p>
                        <p class="pRoxo esq">1 ponto a cada R$ 1 válido gasto</p><br>
                    </div>
                    <div class="col-sm-2">
                        <p class="p2 dir">29</p>
                    </div>
                </div>
                <br>
                <p class="pRewards"><u>Clique abaixo</u> e conheça os benefícios do <b>Rewards</b> Platina</p><br>
                <a href="#" id="aBotao"><button class="btn btn-warning pr">PLATINA REWARDS</button></a><br><br>

            </div>
        </div>
    </section>
    <article>
        <div id="centralArt">
        <div class="container art">
            <div class="row">
                <div class="col-sm-4 imgArt">
                    <img src="imgs/imgArticle.png" id="imgArticle" class="img-responsive imgArt"
                        alt="Convide seus amigos!">
                </div>
                <div class="col-sm-6">
                    <h3><b>Convide seus amigos e familiares.</b></h3><br>
                    <p>Indique um amigo para experimentar nosso grupo e ganhe uma viagem com até <b>R$3 de desconto</b>
                    </p><br>
                    <p class="CompCodigo">Compartilhe o código: <u>lefnfxf5ue</u></p><br>
                </div>
            </div>
        </div>
    </div>
    </article>
    <footer>
        <div id="centralFooter">
            <div class="container rFooter">
                <div class="row">
                    <div class="col-sm-7 esq">
                        <p><a href="#" class="linkFooter">Perguntas Frequentes</a></p>
                        <p><a href="#" class="linkFooter">Esqueci a senha</a></p>
                    </div>
                    <div class="col-sm-3 dir">
                        <p><a href="#" class="linkFooter">Mr. Treublaan 7</a></p>
                        <p><a href="#" class="linkFooter">1097 DP Amsterdam</a></p>
                    </div>
                </div>
                <p id="copy">©2021 - Todos os direitos reservados</p>
            </div>
        </div>
    </footer>
</body>

</html>